@model IEnumerable<CaaS.Models.BVModels.LugaresViewModel>

<p>
    @Html.ActionLink("Crear nuevo", "LugaresCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Editar", "LugaresEdit", new { id = item.Id }) |
            @Html.ActionLink("Eliminar", "LugaresDelete", new { id = item.Id }, new { onclick = "return confirm('¿Está seguro que quiere eilimar este lugar?');" })
        </td>
    </tr>
}

</table>
