@using Microsoft.Ajax.Utilities
@model IEnumerable<CaaS.Models.BVModels.DashboardViewModel>

<div class="text-center row">
    <h1>Panel de Administración</h1>
</div>

<iframe style="padding: 0 20% 0 20%;" width="933" height="700" src="https://msit.powerbi.com/view?r=eyJrIjoiNmVjMTAxYTYtMzgzOS00N2M3LWI5Y2YtNGE2ZjZjYzRiYzIwIiwidCI6IjcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0NyIsImMiOjV9" frameborder="0" allowFullScreen="true"></iframe>

<div class="text-center row">
    <h1 class="titleh1">Casos sin asignar</h1>
    @{

        if (Model.Count(x => x.Estado == "0") != 0)
        {

            <table id="table1" class="table">
                <tr class="tableh">
                    <th>
                        @Html.DisplayNameFor(model => model.DateReported)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Direccion)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Where(x => x.Estado == "0"))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateReported)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Direccion)
                        </td>
                        <td>
                            @Html.ActionLink("Detalles", "ReporteDetalles", new { id = item.Id }) |
                            @Html.ActionLink("Asignar", "ReporteAsignar", new { id = item.Id }) |
                            @Html.ActionLink("Eliminar", "ReporteEliminar", new { id = item.Id }, new { onclick = "return confirm('¿Está seguro que quiere eliminar este anuncio?');" })
                        </td>
                    </tr>
                }

            </table>


        }
        else
        {
            <h2 class="text-center">No hay reportes</h2>
        }
    }
</div>

<div class="text-center row">
    <h1 class="titleh1">Casos asignados a mi organización</h1>
    @{

        if (Model.Count(x => x.Estado == "1" && x.OngAsignada == User.Identity.Name) != 0)
        {

            <table id="table1" class="table">
                <tr class="tableh">
                    <th>
                        @Html.DisplayNameFor(model => model.DateReported)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Direccion)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Where(x => x.Estado == "1" && x.OngAsignada == User.Identity.Name))
                {
                    <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateReported)
                            </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Direccion)
                        </td>
                        <td>
                            @Html.ActionLink("Detalles", "ReporteDetalles", new { id = item.Id }) |
                            @Html.ActionLink("Asignar", "ReporteAsignar", new { id = item.Id }) |
                            @Html.ActionLink("Eliminar", "ReporteEliminar", new { id = item.Id }, new { onclick = "return confirm('¿Está seguro que quiere eliminar este anuncio?');" })
                        </td>
                    </tr>
                }

            </table>


        }
        else
        {
           
        <h2 class="text-center">No hay reportes</h2>
           
        }
    }
</div>

<div class="text-center row">
    <h1 class="titleh1">Casos resueltos</h1>
    @{

        if (Model.Count(x => x.Estado == "2" && x.OngAsignada == User.Identity.Name) != 0)
        {

            <table id="table1" class="table">
                <tr class="tableh">
                    <th>
                        @Html.DisplayNameFor(model => model.DateReported)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Direccion)
                    </th>
                    <th></th>
                </tr>

              @foreach (var item in Model.Where(x => x.Estado == "2" && x.OngAsignada == User.Identity.Name))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateReported)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Direccion)
                        </td>
                        <td>
                            @Html.ActionLink("Detalles", "ReporteDetalles", new { id = item.Id }) |
                            @Html.ActionLink("Asignar", "ReporteAsignar", new { id = item.Id }) |
                            @Html.ActionLink("Eliminar", "ReporteEliminar", new { id = item.Id }, new { onclick = "return confirm('¿Está seguro que quiere eliminar este anuncio?');" })
                        </td>
                    </tr>
                }

            </table>


        }
        else
        {
            <h2 class="text-center">No hay reportes</h2>
        }
    }
</div>

