@{
    Layout = "";

}
@model CaaS.Models.RegisterViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <title>AbrigAR</title>

    <link href="https://fonts.googleapis.com/css?family=Muli:200,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/desktop.css">
    <link rel="stylesheet" href="~/Content/login.css">
</head>
<body>
    <h1 class="center block text-center login-title">AbrigAR</h1>

   @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {@class = "login-form center subtle-borders", role = "form"}))
   {
       @Html.AntiForgeryToken()
       
       <p class="paragraph center">Registra a tu ONG y comenza a AbrigAR</p>
    @Html.ValidationSummary("", new { @class = "text-danger" })
       <br/>
       <div class="form-field">
           <label class="uppercase block" for="FirstName">Nombre</label>
           @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control uppercase", placeholder = "Juana"})
           @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
       </div>

      
       <div class="form-field">
           <label class="uppercase block" for="Password">Contraseña</label>
           @Html.PasswordFor(m => m.Password, new { @class = "form-control uppercase" })
           @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
       </div>

    <div class="form-field">
        <label class="uppercase block" for="ConfirmPassword">Confirmar contraseña</label>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control uppercase"})
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
    </div>

       <div class="form-field">
           <button type="submit" id="sumbit" class="button uppercase subtle-borders subtle-shadow register-btn" name="sumbit">registrarse</button>
       </div>
   }
    
    
    <footer class="full-width center">
        <ul class="center">
            <li>
                <img src="~/Content/ms.png" height="50px">
            </li>
            <li>
                <img src="~/Content/funsi.png" height="50px">
            </li>

        </ul>
    </footer>
</body>
</html>