@{
    Layout = "";

}
@model CaaS.Models.RegisterViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <title>AbrigAR</title>

    <link href="https://fonts.googleapis.com/css?family=Muli:200,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/desktop.css">
    <link rel="stylesheet" href="~/Content/login.css">
</head>
<body>


   @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {@class = "login-form center subtle-borders", role = "form", enctype = "multipart/form-data" }))
   {
       @Html.AntiForgeryToken()
       
       <p class="paragraph center">Registra a tu ONG y comenzá a AbrigAR</p>
         @Html.ValidationSummary("", new { @class = "text-danger" })
       <br/>
       <div class="form-field">
           <label class="uppercase block">Nombre de la ONG</label>
           @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control uppercase"})
           @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
       </div>

       <div class="form-field">
           <label class="uppercase block">Misión</label>
           @Html.TextBoxFor(m => m.Mision, new { @class = "form-control uppercase" })
           @Html.ValidationMessageFor(m => m.Mision, "", new { @class = "text-danger" })
       </div>

       <div class="form-field">
           <label class="uppercase block">Dirección</label>
           @Html.TextBoxFor(m => m.Direccion, new { @class = "form-control uppercase"})
           @Html.ValidationMessageFor(m => m.Direccion, "", new { @class = "text-danger" })
       </div>

       <div class="form-field">
           <label class="uppercase block">Mail de la ONG</label>
           @Html.TextBoxFor(m => m.Mail, new { @class = "form-control uppercase"})
           @Html.ValidationMessageFor(m => m.Mail, "", new { @class = "text-danger" })
       </div>

       <div class="form-field">
           <label class="uppercase block">Teléfono de la ONG</label>
           @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control uppercase" })
           @Html.ValidationMessageFor(m => m.Telefono, "", new { @class = "text-danger" })
       </div>

       <div class="form-field">
           <label class="uppercase block">Dirección web</label>
           @Html.TextBoxFor(m => m.WebUrl, new { @class = "form-control uppercase" })
           @Html.ValidationMessageFor(m => m.WebUrl, "", new { @class = "text-danger" })
       </div>

        <div class="form-field">
            <label class="uppercase block">Logo</label>
            <input type="file" id="OngPic" name="OngPic" accept="image/x-png,image/gif,image/jpeg" />
            @Html.ValidationMessageFor(m => m.OngPic, "", new { @class = "text-danger" })
        </div>

        <div class="form-field">
           <label class="uppercase block">Contraseña</label>
           @Html.PasswordFor(m => m.Password, new { @class = "form-control uppercase" })
           @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
       </div>

    <div class="form-field">
        <label class="uppercase block">Confirmar contraseña</label>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control uppercase"})
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
    </div>

       <div class="form-field">
           <button type="submit" id="sumbit" class="button uppercase subtle-borders subtle-shadow register-btn" name="sumbit">registrarse</button>
       </div>
   }
    
    
    <footer class="full-width center">
        <ul class="center">
            <li>
                <img src="~/Content/ms.png" height="50px">
            </li>
            <li>
                <img src="~/Content/funsi.png" height="50px">
            </li>

        </ul>
    </footer>
</body>
</html>