@{
Layout = "";
}

@model CaaS.Models.BVModels.ContactoViewCreateModel

<!DOCTYPE HTML>
<html>
    <head>
        <title>Abrigar</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="~/Content/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="~/Content/css/main.css" />
        <!--[if lte IE 9]><link rel="stylesheet" href="~/Content/css/ie9.css" /><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" href="~/Content/css/ie8.css" /><![endif]-->
    </head>

    <body>

    <!-- Sidebar -->
    <section id="sidebar">
        <div class="inner">
            <nav>
                <ul>
                    <li><a href="#intro">Bienvenido</a></li>
                    <li><a href="#one">¿Quienes somos?</a></li>
                    <li><a href="#two">¿Qué hacemos?</a></li>
                    <li><a href="#three">Contáctanos</a></li>
                </ul>
            </nav>
        </div>
    </section>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Intro -->
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                <img width="100%" style="max-width: 800px" src="~/Content/logo_white.png" />
                <p style="font-size: 30px;">Entre todos podemos vencer al frio y AbrigAR a alguien.</p>
                <ul class="actions">
                    <li><a href="#one" class="button scrolly">Enterate más	</a></li>
                </ul>
            </div>
        </section>

        <!-- One -->
        <section id="one" class="wrapper style2 spotlights">
            <section>
                <a href="#" class="image"><img src="~/Content/Images/fundacionsi.png" alt="" data-position="center center" /></a>
                <div class="content">
                    <div class="inner">
                        <h2>Fundacion Si</h2>
                        <p>Con mas de blablabla en experiencia blablabla</p>
                        <ul class="actions">
                            <li><a href="#" class="button">Ver más</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="#" class="image"><img src="~/Content/Images/mslogo.png" alt="" data-position="center center" /></a>
                <div class="content">
                    <div class="inner">
                        <h2>Microsoft</h2>
                        <p>blablalbla bla bala accion social, bla bla bla ONG, bla bla philanthropies bla bla</p>
                        <ul class="actions">
                            <li><a href="#" class="button">Ver más</a></li>
                        </ul>
                    </div>
                </div>
            </section>

        </section>

        <!-- Two -->
        <section id="two" class="wrapper style3 fade-up">
            <div class="inner">
                <h2 style="text-align: center">¿Qué hacemos?</h2>
                <p style="text-align: center">La campaña del frio es blab alb alba bla</p>
                <div class="features">
                    <section>
                        <span class="icon major fa-code"></span>
                        <h3>Abrigos</h3>
                        <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                    </section>
                    <section>
                        <span class="icon major fa-lock"></span>
                        <h3>Alimentos</h3>
                        <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                    </section>
                    <section>
                        <span class="icon major fa-cog"></span>
                        <h3>Contencion</h3>
                        <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                    </section>
                    <section>
                        <span class="icon major fa-desktop"></span>
                        <h3>Abrigos</h3>
                        <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                    </section>

                </div>

                <h2 style="text-align: center">¿Cómo podes ayudar?</h2>
                <p style="text-align: center">Con nuestras aplicaciones podes reportar si vez a una persona en situacion de calle</p>

                <div class="features">
                    <section>
                        <span class="icon major fa-chain"></span>
                        <h3>Aplicacion iOS</h3>
                        <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                    </section>
                    <section>
                        <span class="icon major fa-diamond"></span>
                        <h3>Aplicacion Android</h3>
                        <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                    </section>
                </div>

            </div>
        </section>

        <!-- Three -->
        <section id="three" class="wrapper style1 fade-up">
            <div class="inner">
                <h2>Entrá en contacto</h2>
                <p>Contactanos para con nosotros para bla bla bla</p>
                <div class="split style1">
                    <section>
                       @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new {role = "form"}))
                       {
                           <div class="field half first">
                               <label>Nombre</label>
                               @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
                               @Html.ValidationMessageFor(m => m.Name, "", new {@class = "text-danger"})
                           </div>
                           <div class="field half">
                               <label>Email</label>
                               @Html.TextBoxFor(m => m.Mail, new { @class = "form-control" })
                               @Html.ValidationMessageFor(m => m.Mail, "", new { @class = "text-danger" })
                           </div>
                           <div class="field">
                               <label>Mensaje</label>
                               @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
                               @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
                           </div>
                           <ul class="actions">
                               <li><a href="" class="button submit">Enviar</a></li>
                           </ul>
                       }
                    </section>
                    <section>
                        <ul class="contact">
                            <li>
                                <h3>Dirección</h3>
                                <span>
                                    12345 Somewhere Road #654<br />
                                    Nashville, TN 00000-0000<br />
                                    USA
                                </span>
                            </li>
                            <li>
                                <h3>Email</h3>
                                <a href="#">aaa@fundacionsi.org.ar</a>
                            </li>
                            <li>
                                <h3>Teléfono</h3>
                                <span>(+54) 11 4567-1234</span>
                            </li>
                            <li>
                                <h3>Social</h3>
                                <ul class="icons">
                                    <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                                    <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                                    <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>

                                </ul>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </section>

    </div>

    <!-- Footer -->
    <footer id="footer" class="wrapper style1-alt">
        <div class="inner">
            <ul class="menu">
                <li style="color: white;font-size: 20px;">&copy; Microsoft 2017. All rights reserved.</li>
            </ul>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/jquery.scrollex.min.js"></script>
    <script src="~/Content/js/jquery.scrolly.min.js"></script>
    <script src="~/Content/js/skel.min.js"></script>
    <script src="~/Content/js/util.js"></script>
    <!--[if lte IE 8]><script src="~/Content/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Content/js/main.js"></script>

</body>
</html>